@font-face {
	font-family: 'Norse Bold';
	src: url(./fonts/Norse-Bold.otf);
}

body {
	margin: 0;
	display: flex;
	font-family: 'Norse Bold';
	letter-spacing: 0.1em;
}

img[src="./images/form.jpg"] {
	height: 100vh;
	width: 30vw;
}

div div {
	position: absolute;
	top: 20vh;
	display: flex;
	width: 30vw;
	gap: 1em;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

div div img {
	height: 10vh;
	width: auto;
}

div div span {
	font-size: 10vh;
	color: white;
}

form {
	margin: auto;
}

form fieldset {
	display: flex;
	gap: 10em;
	padding: 1em 0;
	border: none;
}

form fieldset div { /* This effect is possibility to do with HTML (adding <div> or <p>, but the project is for CSS Flex skills */
	display: flex;
	flex-direction: column;
}

input:user-invalid {
	border-color: red;
}

input:user-valid {
	border-color: blue;
}

button {
	margin: 2em 0 2em 0;
	border-radius: 0.5em;
	height: 3em;
	width: 12em;
	border: none;
	background-color: #596D48;
	color: white;
	font-weight: bold;
	font-family: 'Norse Bold';
	letter-spacing: 0.3em;
}

form p:last-child {
	font-size: small;
}